html{
  scroll-behavior: smooth;
}

body {
  font-family: 'Caveat', cursive;
  font-size: 3vw;
  width: 100%;
  height: 100vh;
  background-color:#838383
}

/* Styling for the navbar begins */
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333333;
  color: #FFFFFF;
  padding: 10px 20px;
  z-index: 100;
  opacity: 0.8;
  transition: opacity .3s ease;
}

#navbar.navbar-scroll {
  opacity: 1;
}

#navbar-title {
  display: flex;
  align-items: center;
  font-family: 'Pacifico', cursive;
  font-size: 2vw;
}

#navbar-links {
  display: flex;
}

.navbar-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
  color: #FFFFFF;
  font-size: 1.5vw;
  background:none;
  border:none;
  transition: transform 0.3s ease, text-shadow 0.3s ease;
}

.navbar-link:hover{
  transform: scale(1.1);
  text-shadow: 0px 0px 30px rgba(66, 65, 66, 0.8), 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.button-link:hover{
  text-decoration: none;
}

.material-icons{
  font-size: 1.5vw;
}

/* Styling for the navbar ends */


/* Styling for homepage begins */

#home-container {
  background-image: url('mountains.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  color: white;
}

#welcome-message {
  margin-top:-50vh;
  font-size: 2.5vw;
  text-shadow: 0px 0px 20px rgba(66, 65, 66, 0.6);
  transition: transform 0.3s ease, text-shadow 0.3s ease;
}
#welcome-message:hover {
  transform: scale(1.04);
  text-shadow: 0px 0px 30px rgba(66, 65, 66, 0.8), 0px 4px 10px rgba(0, 0, 0, 0.2);
}

#brief-intro{
  margin-top:-65vh;
  font-size: 1.5vw;
  text-shadow: 0px 0px 20px rgba(66, 65, 66, 0.6);
  margin-inline: 20vw;
  transition: transform 0.3s ease, text-shadow 0.3s ease;
}
#brief-intro:hover {
  transform: scale(1.04);
  text-shadow: 0px 0px 30px rgba(66, 65, 66, 0.8), 0px 4px 10px rgba(0, 0, 0, 0.2);
}

#scroll-buttons {
  position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: 1;
  transition: opacity .3s ease-in-out;
}
#scroll-buttons.hide-scroll {
  opacity: 0;
}
.scroll-link:hover{
  text-decoration: none;
}
.scroll-button{
  background-color: #333333;
  font-size:1.65vw;
  color:white;
  box-shadow: 0px 0px 20px rgba(66, 65, 66, 0.6);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-color: transparent;
  opacity: 0.8;
}

.scroll-button:hover {
  transform: scale(1.04);
  text-shadow: 0px 0px 30px rgba(66, 65, 66, 0.8), 0px 4px 10px rgba(0, 0, 0, 0.2);
  background-color: #1f1f1f;
  opacity: 1;
}
/* Styling for homepage ends */

/* Styling for about page begins */
#about-container{
  margin-top:0vw;
  color:white;
}
/* Styling for about page ends */

/* Below is a media attribute that resizes things for common mobile screen dimensions */
@media screen and (max-width: 539px) {
  .material-icons{
    font-size: 3.2vw;
  }
  /* navbar resize */
  #navbar-links {
    flex-direction: column;
  }
  #navbar-title {
    font-size: 5vw;
  }
  .navbar-link {
    margin-left: 7px;
    font-size: 3.2vw;
  }
  #navbar.navbar-scroll {
    opacity: 0;
  }
  /* home resize */
  #welcome-message {
    margin-top:-38vh;
    font-size: 5vw;
  }
  #brief-intro{
    margin-top:-60vh;
    font-size: 4vw;
  }
  .scroll-button {
    font-size: 4vw;
  }
  /* about resize */
  
}